{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WatchCart</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>

<!-- Navbar -->
<nav class="navbar">
    <a class="navbar-brand" href="#">WATCHCART</a>
    <div class="nav-links">
        <a href="{% url 'index' %}"><button>Home</button></a>
        <a href="{% url 'cart_view' %}"><button>Cart</button></a>
        {% if user.is_authenticated %}
        <div><a href="{% url 'logout' %}"><button>Logout</button></a></div>
        {% else %}
        <div><a href="{% url 'userlogin' %}"><button>Login</button></a></div>
        {% endif %}
    </div>
</nav>

<!-- Products -->
<div>
    <img class="header-image" src="{% static 'images/header_bg-1050x700.jpg' %}" alt="WatchCart Header Background">
</div>
<div class="products-container">
    {% for product in products %}
    <div class="card">
        <a href="{% url 'product' product.id %}">
            <img src="{{ product.image.url }}" alt="Image of {{ product.name }}">
        </a>
        <div class="card-body">
            <h5>{{ product.name }}</h5>
            <p>{{ product.description }}</p>
            <p><del>${{ product.price }}</del> <strong>${{ product.offerprice }}</strong></p>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Footer -->
<footer class="footer">
    <div class="foot1">
        <ul>
            <li>© All rights reserved by WatchCart, Kottayam, India.</li>
        </ul>
    </div>
    <div class="foot2">
        <ul>
            <li><b>SOLUTIONS</b></li>
            <li>My Account</li>
            <li>Track Your Order</li>
            <li>Order History</li>
            <li>Payment Methods</li>
            <li>Privacy Policy</li>
        </ul>
    </div>
    <div class="foot3">
        <ul>
            <li><b>ABOUT US</b></li>
            <li>About Us</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
            <li>Return Policy</li>
            <li>Site Map</li>
        </ul>
    </div>
    <div class="foot4">
        <ul>
            <li><b>CONTACT US</b></li>
            <li>Ettumanoor, Kottayam, Kerala</li>
            <li>+91-86065 70657</li>
            <li>Mon - Sat / 9:00AM - 6:00PM</li>
        </ul>
    </div>
</footer>

</body>
</html>
