<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main-content">
    <div> <a href="{% url 'logout' %}">Logout</a></div>
    <h1>User Dashboard</h1>
    
    <div class="gallery">
        {% for i in gallery_images %}
        <a href="{% url 'product' i.id %}"><div class="gallery-item">
                <img src="{{ i.feedimage.url }}" alt="Gallery Image"
                    width="300">
                <div class="image-info">
                    <p class="image-title">{{ i.title1 }}</p>
                    <p class="image-date">{{ i.title2 }}</p>
                    <p class="image-course">{{ i.title3 }}</p>
                </div>
            </div></a>
        {% endfor %}
    </div>
</div>
  
</body>
</html>